@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

.responsive{
    width: 100%;
    height: auto;
}

/*----NAV BAR----*/
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar-brand img{
	height: 60px;
	padding-left: 30px;
}

.navbar-nav li{
	padding: 0 10px;
}

.navbar-nav li a{
	float: right;
	text-align: left;
}

#nav-bar ul li a:hover{
	color: #f4d160!important;
}

.navbar-toggler{
	border: none!important;
}

.nav-link{
	color: #efefef!important;
	font-weight: 600;
	font-size: 16px;
}

/*----CARD----*/
#profile{
    box-sizing: border-box;
    text-decoration: none;
    height: 80vh;
    display: flex;
    align-items:center;
    justify-content: center;
}

.profile-card{
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.card-header{
    padding: 60px 40px;
}

.pic{
    display: inline-block;
    padding: 8px;
    background: #f4d160;
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
}

@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: left top;
    }
    100%{
        background-position: left top;
    }
}

.pic img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%
}

.name{
    color: #efefef;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.email{
    font-size: 18px;
    color: #efefef;
}
